<!doctype html>
{% from 'bootstrap5/nav.html' import render_nav_item %}
<html lang="en">
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            {{ bootstrap.load_css("5") }}
        {% endblock %}

        <title>{% block title %}{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        <header class="p-3 bg-primary text-primary">
            <div class="container">
              <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                  <li><a href="{{ url_for('main.index') }}" class="nav-link px-2 text-white">Home</a></li>
                </ul>

                <div class="text-end">
                  {% if current_user.is_authenticated %}
                  <a href="{{ url_for('auth.logout') }}">
                      <button type="button" class="btn btn-outline-light me-2">Log out</button>
                  </a>
                  {% else %}
                  <a href="{{ url_for('auth.register') }}">
                      <button type="button" class="btn btn-outline-light me-2">Register</button>
                  </a>
                  <a href="{{ url_for('auth.login') }}">
                      <button type="button" class="btn btn-outline-light me-2">Login</button>
                  </a>
                  {% endif %}
                </div>
              </div>
            </div>
        </header>

        <div class="container">
            <div class="row justify-content-center my-3">
                <div class="col-md-8 ">
                    {% for message in get_flashed_messages() %}
                        <div class="alert alert-warning">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% block content %}
            {% endblock %}
        </div>
        {% block scripts %}
            {{ bootstrap.load_js("5") }}
        {% endblock %}
    </body>
</html>