{% extends 'base.html' %}
{% block title %}Todo-home{% endblock %}

{% block content %}
<div class="row justify-content-md-center" xmlns="http://www.w3.org/1999/html">
        <div class="col-md-8">
            <h2>Todo list</h2>
        </div>
        <div class="col-md-8">
            <hr class="bg-primary border-2 border-top border-primary">
        </div>
        <div class="col-md-8">
            {% if current_user.is_authenticated %}
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#task_modal">
                        Add task
                    </button>
                </div>

                <div class="modal fade" id="task_modal" tabindex="-1" aria-labelledby="task_label" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="task_label">Add task</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form id="task_form" name="task_form">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                    <div class="mb-3 required">
                                        <label for="task_name" class="col-form-label">Task</label>
                                        <input type="text" class="form-control" id="task_name" name="task_name" minlength="1" maxlength="200" required>
                                    </div>
                                    <div class="mb-3 required">
                                        <label for="task_content" class="col-form-label">Content</label>
                                        <textarea class="form-control" id="task_content" name="task_content" required></textarea>
                                    </div>
                                    <div class="mb-3 required">
                                        <label for="task_date" class="col-form-label">Date</label>
                                        <input class="form-control" id="task_date" name="task_date" required type="date">
                                    </div>
                                    <div class="mb-3 required">
                                        <label for="task_time" class="col-form-label">time</label>
                                        <input class="form-control" id="task_time" name="task_time" required type="time">
                                    </div>
                                    <div class="mb-3 text-end">
                                        <button type="button" class="btn btn-primary" id="task_submit" name="task_submit">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <table class="table table-hover table-striped" id="todo_table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Task</th>
                      <th scope="col">Content</th>
                      <th scope="col">Date</th>
                      <th scope="col">Time</th>
                      <th scope="col">Edit</th>
                      <th scope="col">Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
            {% else %}
                <h4 class="text-center">Please login first</h4>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        {% if current_user.is_authenticated %}
            var user_name = "{{ current_user.name }}";
        {% endif %}
    </script>
    {% if current_user.is_authenticated %}
        <script src="{{ url_for('static', filename='js/todo.js') }}"></script>
        <script>axios.defaults.headers.common["X-CSRFToken"] = "{{ csrf_token() }}";</script>
    {% endif %}
{% endblock %}